---
- name: Create new server instances and attaches them a network and passes metadata to the instance
  os_server:
    cloud: ospcloud
    meta: "group={{ group }},deployment_name={{ deployment }}"
    flavor: m2.small
    security_groups: "{{ security_group_name }}"
    key_name: ansible_ssh
    wait: yes
    nics:
    - net-name: int_network

- name: Add floating IP to Servers
  os_floating_ip:
      cloud: ospcloud
      meta: "group={{ group }},deployment_name={{ deployment }}"
      state: present
      reuse: yes
      server: "{{ instance_name }}"
      network: ext_network
      wait: true
      timeout: 180
  register: instancefloatingip
   

#- name: Wait for server to be available
